<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Execução da Missão</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/execucao.component.css" />
</head>

<body>
    <main class="mapa">
        <div class="topo">
            <a style="text-decoration: none; color: white;" href="/HTML/home.component.html"><i class="bi bi-arrow-left"></i></a>
            <span>Missão Inicial</span>
            <i class="bi bi-music-note-beamed"></i>
        </div>

        <img src="/Assets/maps.png" class="mapa-imagem" alt="Mapa Missão">

        <div class="painel">
            <div class="info-box">
                <span class="label">Tempo restante</span>
                <strong>01:12:56</strong>
            </div>
            <div class="info-box">
                <span class="label">Distância</span>
                <strong>23 Km</strong>
            </div>
            <div class="info-box">
                <span class="label">Heart rate</span>
                <strong>200 Bpm</strong>
            </div>
            <div class="info-box">
                <span class="label">Calories</span>
                <strong>1.298 Cal</strong>
            </div>
            <button class="botao-parar"><i class="bi bi-pause"></i> Parar</button>
        </div>
    </main>
</body>

</html>